<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <h1 class="login_header"> Login </h1>
    <form class="login_form" action="/login" method="POST">
        <p>
            <label>Email Address</label><br>
            <input type="email" name="email_address">     
        </p>
        <p>
            <label>Password</label><br>
            <input type="password" name="user_password">
        </p>
        
        <p>
            <input type="submit" value="Click here to login">
        </p>

    </form>
        <p class="login_error">
            {{error}}
        </p>
    
</body>
</html>