<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makersbnb - Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action=“/sign_up” method=“POST”>
        {% if errors %}
        <p class=“t-errors”>
            Your submission contains errors:
            {{ errors | join(‘, ’) }}
        </p>
        {% endif %}
        <label for=“first_name”>First Name</label>
        <input placeholder=“example: Jane” type=“text” name=“first_name” id=“first_name”>
        <label for=“last_name”>Last Name</label>
        <input placeholder=“example: Doe" type=“text” name=“last_name” id=“last_name”>
        <label for=“email_address”>Email Address</label>
        <input placeholder=“example: jane.doe@example.com” type=“text” name=“email_address” id=“email_address”>
        <input style=“color: white; background-color: darkolivegreen; font-size: 15px;” type=“submit” value=“Add album”>
    </form>
</body>
</html>